# Python Data Types

In [9]:
# 1. Boolean Data (0 or 1, False or True, No or Yes)

a = True
b = False
type(a)

bool

In [2]:
# 2. Integer Data (1, -1, 0, 8)

multiply = 4*4
type(multiply)

int

In [3]:
import math
# 3. Float Dataa (1.0, -1.0, 0.0, 8.0)
c = 3.4323
d = 16
e = c + d
mysqrt = math.sqrt(16)
type(c)
print(e)
print(type(e))
print(mysqrt)

19.4323
<class 'float'>
4.0

In [4]:
#4. string
fname = "Collin"
lname = "Kelly"
print (fname)
print (lname)

Collin
Kelly

In [5]:
type(d)

int

In [6]:
dtofloat = float(d)
type(dtofloat)

float

In [18]:
age = 21
ages= str(age)
fullname = fname + ' ' + lname 

print(fname  + ' ' +  lname + ' is '+ ages + ' years old ')

Collin Kelly is 21 years old

In [16]:
print(f'{fullname} is {age} years old')

Collin Kelly is 21 years old

In [23]:
stringval='3.3333'
floatval= float(stringval)
type(floatval)

float

In [24]:
intval2= int(floatval)
type(intval2)

int

In [25]:
intval2

3

# Python Data Structures

In [40]:
# 1. Lists (are containers)
mylist=[1,2,3,4,5,6,7,8,9,10]
mylist2 = [45.67,33.21,['Collin','Kelly'],100]

# Indexing in Python
#Index = [0,1,2,3,4,5,6,7,8]
#               [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]
mylist[-10]

1

In [69]:
city = ['Burlington','Portland','Concord','Boston','Worcester','Providence','Hartford']

In [38]:
len(city)

7

In [64]:
# Indexing a range of values
# [Begin:End] *End Value must be one index value higher (exclusive)
city[0:3]

['Burlington', 'Portland', 'Concord']

In [70]:
city2 = city

In [71]:
city2

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford']

In [72]:
city2.append('Mt. Washington')

In [76]:
city2.pop(1)

'Portland'

In [77]:
city2

['Burlington', 'Concord', 'Boston', 'Worcester', 'Providence', 'Hartford']

In [89]:
# 2. Tuples (Cannot be modified(no appending or replacing))
mytuple = (1,2,3,4,5,6,7,8,9,10,['Collin'])

In [86]:
mytuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ['Collin'])

In [90]:
mytuplelist = list(mytuple)

In [91]:
type(mytuplelist)

list

In [92]:
# 3. Dictionaries (key-valued pairs)

snowfall = {'Burlington': 81.2,'Portland': 61.9,'Concord' :61.4,'Boston' :43.8,'Worcester' :64.1,'Providence' :33.8,'Hartford' :40.4}

In [95]:
snowfall['Burlington']

81.2

In [96]:
Snowfall2 = {'City':['Burlington','Portland','Concord'],'Snowfall':[81.2,61.9, 61.4]}

In [104]:
import pandas as pd
 
snowdf = pd.DataFrame(Snowfall2)
vt = snowdf.iloc[0]

In [105]:
vt

City        Burlington
Snowfall          81.2
Name: 0, dtype: object