In [5]:
city=['Seattle','San Francisco','Los Angeles']
totaldays=[306,314, 275]
poordays=[14,22,119]
aqimed=[42,45,81]
zone=['West','West','West']
lon

In [7]:
aqimedavg=sum(aqimed)/len(aqimed)

In [8]:
aqimedavg

56.0

In [9]:
poordaysavg=sum(poordays)/len(poordays)

In [10]:
poordaysavg

51.666666666666664

In [11]:
totaldaysavg=sum(totaldays)/len(totaldays)

In [12]:
totaldaysavg

298.3333333333333

In [13]:
import pandas as pd

In [18]:
aqistats= pd.DataFrame({'City':city,'Total_Days':totaldays,'Poor_Days':poordays,'AQIMed':aqimed,'Zone':zone})

In [19]:
aqistats

            City  Total_Days  Poor_Days  AQIMed  Zone
0        Seattle         306         14      42  West
1  San Francisco         314         22      45  West
2    Los Angeles         275        119      81  West