# Python Data Types

In [9]:
# 1. Boolean Data (0 or 1, False or True, No or Yes)

a = True
b = False
a

True

In [18]:
# 2. Integer Data (1, -1, 0, 8)

multiply = 4*4
type(multiply)

int

In [24]:
import math
# 3. Float Dataa (1.0, -1.0, 0.0, 8.0)
c = 3.4323
d = 16
e = c + d
mysqrt = math.sqrt(16)
type(c)
print(e)
print(type(e))
print(mysqrt)

19.4323
<class 'float'>
4.0

In [33]:
#4. string
fname = "Collin"
lname = "Kelly"
print (fname)
print (lname)

Collin
Kelly

In [27]:
type(d)

int

In [28]:
dtofloat = float(d)
type(dtofloat)

float

In [47]:
age = 21
ages= str(age)
fullname = fname + lname 

print(fname  + '' +  lname + 'is'+ ages + 'years old')

CollinKellyis21years old

In [45]:
print(f'{})

SyntaxError: EOL while scanning string literal (<ipython-input-45-52ea75f22393>, line 1)